{{if .StartCondition}}
let {{.BlockSlug}}: any;

if ({{.StartCondition}}) {
  {{.BlockSlug}} = await airplane.graphql.request<any>(
    "{{.ResourceSlug}}",
    {{jsStr .Operation}},
    {{jsObj .Options}},
  );
} else {
   console.log("Skipping over block because startCondition is false");
}
{{else}}
const {{.BlockSlug}} = await airplane.graphql.request<any>(
  "{{.ResourceSlug}}",
  {{jsStr .Operation}},
  {{jsObj .Options}},
);
{{end}}
