{{if .StartCondition}}
let {{.BlockSlug}}: any;

if ({{.StartCondition}}) {
  {{.BlockSlug}} = await airplane.execute<any>(
    "{{.TaskSlug}}",
    {{jsObj .ParamValues}},
  );
} else {
   console.log("Skipping over '{{.BlockSlug}}' because startCondition is false");
}
{{else}}
const {{.BlockSlug}} = await airplane.execute<any>(
  "{{.TaskSlug}}",
  {{jsObj .ParamValues}},
);
{{end}}
