pkg/definitions/updaters/javascript/*.js -diff linguist-generated=true
pkg/definitions/updaters/python/*.pex -diff linguist-generated=true
pkg/deploy/discover/parser/node/*.js -diff linguist-generated=true
