import airplane from "airplane";

// Converted from runbook {{.RunbookSlug}} (id: {{.RunbookID}})
// via `airplane task init --from-runbook {{.RunbookSlug}}`
export default airplane.workflow(
  {
    slug: "{{.Slug}}",
    name: "{{.Name}}",
    parameters: {{jsObj .Parameters}},
    resources: {{jsObj .Resources}},
    {{if .EnvVars -}}
    envVars: {{jsObj .EnvVars}},
    {{end -}}
    {{if .Constraints -}}
    constraints: {{jsObj .Constraints}},
    {{end}}
  },
  async (params) => {
    {{- if .Configs}}
    // Get configs from the environment.
    const configs = {{jsObj .Configs}};
    {{end -}}

    {{.Body}}
  }
);
