import airplane from "airplane";

// Converted from runbook "{{.RunbookSlug}}" (id: {{.RunbookID}})
// via `airplane task init --from-runbook {{.RunbookSlug}}`
export default airplane.task(
  {
    slug: "{{.Slug}}",
    name: "{{.Name}}",
    parameters: {{jsObj .Parameters}},
    resources: {{jsObj .Resources}},
    {{if .EnvVars -}}
    envVars: {{jsObj .EnvVars}},
    {{end -}}
    {{if .Constraints -}}
    constraints: {{jsObj .Constraints}},
    {{end -}}
    // Optionally uncomment the following line to enable the workflow runtime.
    // The workflow runtime can run for significantly longer than the default
    // runtime, but it comes with a few restrictions. For more information,
    // see: https://docs.airplane.dev/tasks/runtimes
    //
    // runtime: "workflow"
  },
  async (params) => {
    {{- if .Configs}}
    // Get configs from the environment.
    const configs = {{jsObj .Configs}};
    {{end -}}

    {{.Body}}

    // Optionally return output that will be rendered in the run UI: https://docs.airplane.dev/tasks/output
    // return {}
  }
);
